*{
    font-family: "poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
  }

/* navbar */
.navbar{
    position: fixed;
    padding: 15px 0 15px 0;
    width: 100%;
  }

.navbar .nav-link a {
    padding: 5px 10px 5px 10px;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    z-index: 9999;

}

.navbar .nav-link a:hover{
    color: var(--secondary-color);
}

.navbar .nav-link .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.navbar.bg-nav-active{
    background-color: var(--navbar-color);
    border-bottom: 1px solid #dc3545;
}

/* navbar */

/* header */

.homepage {
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.homepage .header-box h1{
    font-size: 3.2rem;
    font-weight: 600;
    columns: var(--color-text);
}
.homepage .header-box h1 p{
    font-weight: 500;
    line-height: 2;
    color: var(--color-text);
}
.homepage .header-box h1 span{
    font-weight: 700;
}
.homepage .header-box img{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .homepage .header-box h1{
        padding-top: 8rem;
    }  
    .homepage .header-box img{
        width: 400px;
        display: block;
        margin-inline: auto;
    } 
}


/* section kelas */
.homepage .kelas{
    background-color: var(--primary-color);
    padding-bottom: 100px;
}
.homepage .kelas .row:nth-child(1){
    padding-top: 150px;
    padding-bottom: 100px;
}

/* .homepage .kelas .row:nth-child(1) h1,
.homepage .kelas .row:nth-child(1) p{
    color: var(--color-text);
} */
/* end section kelas */